@import url("https://fonts.googleapis.com/css?family=Gilda+Display");
/* Universal */
@import url("https://fonts.googleapis.com/css?family=Pacifico");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilda Display', Arial, Helvetica, sans-serif !important;
  text-decoration: none; }

img {
  height: auto;
  width: 100%; }

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto; }

.row {
  margin-left: 0;
  margin-right: 0; }

.padding-0 {
  padding-right: 0;
  padding-left: 0; }

.padding-default {
  padding-right: 15px;
  padding-left: 15px; }

.logo {
  max-width: 100px; }

.black-bg {
  background-color: #1c1c1c; }

.navbar {
  background: #1c1c1d; }

.affix {
  top: -50px; }

.navbar-nav .nav-item {
  /* desktop */
  /* Tablet */
  height: 25px;
  /* Mobile */ }

.navbar-nav .nav-item {
  margin-left: 2em;
  font-size: 1rem; }

@media (max-width: 767px) {
  .navbar-nav .nav-item {
    height: auto;
    margin-left: 0;
    font-size: 1rem; } }

@media (max-width: 992px) {
  .navbar-nav .nav-item {
    height: auto;
    margin-left: 1em;
    font-size: 1rem; } }

.navbar-nav .nav-link {
  color: #878788; }

.navbar-nav .btn-custom {
  background: white;
  margin-left: 3em;
  font-weight: 600;
  padding: 1px 15px;
  border-radius: 0;
  max-height: 30px;
  margin-top: 5px; }

@media (max-width: 992px) {
  .navbar-nav .btn-custom {
    margin-top: 5px;
    margin-left: 2em; } }

@media (max-width: 768px) {
  .navbar-nav .btn-custom {
    margin-top: 0;
    margin-left: 0; } }

.navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus, .navbar-nav .nav-link:active {
  color: white;
  border-bottom: 2px solid #878788; }

@media (max-width: 768px) {
  .navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus, .navbar-nav .nav-link:active {
    border: none; } }

.navbar-nav .nav-link.active {
  color: white;
  border-bottom: 2px solid #878788; }

.toggle-wrap {
  position: relative;
  cursor: pointer;
  /*disable selection*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.toggle-bar,
.toggle-bar::before,
.toggle-bar::after,
.toggle-wrap.active .toggle-bar,
.toggle-wrap.active .toggle-bar::before,
.toggle-wrap.active .toggle-bar::after {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

.toggle-bar {
  width: 38px;
  margin: 10px 0;
  position: relative;
  border-top: 6px solid white;
  display: block; }

.toggle-bar::before,
.toggle-bar::after {
  content: "";
  display: block;
  background: white;
  height: 6px;
  width: 38px;
  position: absolute;
  top: -16px;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: 13%;
  -webkit-transform-origin: 13%;
  transform-origin: 13%; }

.toggle-bar::after {
  top: 4px; }

.toggle-wrap.active .toggle-bar {
  border-top: 6px solid transparent; }

.toggle-wrap.active .toggle-bar::before {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.toggle-wrap.active .toggle-bar::after {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.intro .content .separator-container .separator {
  margin: 0 auto 1em;
  margin-bottom: 2.5em;
  width: 20em; }

@media (max-width: 768px) {
  .intro .content .separator-container .separator {
    width: 12em; } }

.intro .content .separator-container .separator.line-separator::before {
  display: block;
  width: 15%;
  content: " ";
  border: 0.5px solid #fff; }

.intro {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../../images/hero.jpg") center center no-repeat;
  background-size: cover; }

@media (max-width: 768px) {
  .intro {
    height: auto; } }

.intro:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right top, #000000, #2e2b2b, #595350, #848079, #aeb1a6);
  opacity: 0.7; }

.intro2:before {
  background: #3C3B3F;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #605C3C, #3C3B3F);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.intro .content {
  text-align: center;
  z-index: 2;
  position: relative;
  color: white;
  margin-top: 10em; }

#first .intro h1 {
  text-transform: uppercase;
  font-size: 5em;
  margin-bottom: 0.5em;
  text-shadow: -2px 2px 30px rgba(0, 0, 0, 0.25), -2px 4px 14px rgba(0, 0, 0, 0.1); }

@media (max-width: 768px) {
  #first .intro h1 {
    font-size: 2.5em;
    line-height: 1.7;
    margin-top: 60px; } }

#first .intro h5 {
  font-size: 1.3em;
  position: relative; }

#first .intro .btn-book {
  background: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 0;
  padding-right: 1.5em;
  padding-left: 1.5em;
  text-transform: uppercase;
  cursor: pointer; }

#first .intro .btn-book > a {
  color: white;
  text-decoration: none; }

.intro .content .separator-container .separator.line-separator::before {
  margin: 0 auto;
  margin-top: 1.5em; }

@media (max-width: 768px) {
  #first .intro h5 {
    font-size: 1.125em;
    margin-top: 50px; } }

#second .padding-top {
  padding-top: 5em;
  padding-bottom: 8em; }

@media (max-width: 992px) {
  #second .padding-top {
    padding-top: 5em;
    padding-bottom: 35em; } }

@media (max-width: 767px) {
  #second .padding-top {
    padding-top: 0;
    padding-bottom: 8em; } }

#second .text {
  margin-top: 5em; }

#second .text h1 {
  margin-bottom: 0.5em; }

#second .text p {
  color: grey;
  margin-bottom: 0; }

#second .text .margin-bottom {
  margin-bottom: 2em; }

#second .text .tjanster {
  margin-top: 1em;
  background: #c19b76;
  border: 1px solid transparent;
  color: white;
  font-weight: bold;
  border-radius: 0;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

#second .text .tjanster > a {
  color: white;
  text-decoration: none; }

#second .text .tjanster:hover, #second .text .tjanster:focus, #second .text .tjanster:active {
  cursor: pointer;
  color: white;
  background: #85432B;
  border: 1px solid transparent; }

#second .card-custom-img {
  background-image: url("../../images/card1.jpg"); }

#second .card1 {
  background-image: url("../../images/card1.jpg");
  margin-top: 2.5em; }

@media (max-width: 1098px) {
  #second .card1 {
    margin-top: 4em; } }

#second .card2 {
  background-image: url("../../images/card3.jpg");
  margin-top: 2.5em; }

#second .card3 {
  background-image: url("../../images/card2.jpg");
  margin-top: 2.5em; }

@media (max-width: 1098px) {
  #second .card3 {
    margin-top: 4em; } }

#second .card-body {
  overflow-y: auto; }

#second .card-footer {
  background: inherit;
  border-color: inherit; }

.card-stack {
  position: relative; }

.card-stack .card-list {
  width: 100px; }

.card-stack .card-list li {
  border: none;
  border-radius: 0;
  position: absolute;
  list-style: none;
  height: 200px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  background-size: cover; }

.card-stack .card-list li:nth-child(1) {
  left: -100px;
  width: 400px;
  height: 250px;
  /* animation: scaleCard 100ms; */ }

.card-stack .card-list li:nth-child(2) {
  top: 100px;
  left: 340px;
  height: 270px;
  width: 250px; }

.card-stack .card-list li:nth-child(3) {
  top: 220px;
  left: -100px;
  width: 350px;
  height: 240px; }

@media (max-width: 1200px) {
  .card-stack .card-list li:nth-child(2) {
    display: none; } }

@media (max-width: 1200px) {
  .card-stack .card-list li:nth-child(1) {
    left: -120px;
    width: 300px; } }

@media (max-width: 1200px) {
  .card-stack .card-list li:nth-child(3) {
    top: 200px;
    left: 180px;
    width: 300px; } }

.card-custom {
  overflow: hidden;
  min-height: 400px;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3); }

.card-custom-img {
  height: 250px;
  min-height: 250px;
  border-radius: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit; }

#second .standalone {
  margin-top: 3em; }

#third {
  background: #f9f9f9; }

#third .introduction {
  padding-top: 5em;
  padding-bottom: 4em; }

#third h1 {
  margin-top: 0.5em; }

#third .kort {
  padding-left: 0;
  padding-right: 0; }

#third .images {
  min-height: 400px;
  max-height: 400px; }

#third .other-info {
  color: white;
  padding: 6em; }

#third .other-info {
  color: white;
  padding: 6em; }

@media (max-width: 1307px) {
  #third .other-info {
    color: white;
    padding: 4em; } }

@media (max-width: 1069px) {
  #third .other-info {
    color: white;
    padding: 2em; } }

#third .other-info h1 {
  font-size: 80px;
  line-height: 60px; }

@media (max-width: 503px) {
  #third .other-info h1 {
    font-size: 50px; } }

#third .other-info h1 ~ h1 {
  color: #c19b76;
  margin-bottom: 0.3em; }

#third .other-info p {
  color: #878788; }

#third .separator-container .separator {
  margin: 0 auto;
  width: 16em; }

@media (max-width: 768px) {
  #third .separator-container .separator {
    width: 12em; } }

#third .separator-container .separator.line-separator::before {
  display: block;
  width: 15%;
  content: " ";
  border: 0.5px solid black; }

#third .separator-container .separator.line-separator::before {
  margin: 0 auto;
  margin-top: 0.5em; }

#third .card {
  display: flex;
  background-color: white;
  position: relative;
  margin-bottom: 2em;
  margin-top: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  padding-left: 0;
  padding-right: 0; }

#third .card-img {
  position: relative; }

.price {
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px;
  color: whitesmoke;
  border-bottom-left-radius: 2px; }

#third .card .title {
  text-align: center; }

.info {
  min-height: 200px;
  margin-bottom: 4em; }

.info p {
  padding: 5px; }

.info .info-metrics {
  position: absolute;
  width: 100%;
  bottom: 40px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  border-top: 1px solid #d6d6d6;
  padding: 7px;
  background-color: #f9f9f9;
  color: #5a5a5a; }

#third footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 50px;
  max-height: 50px;
  background-color: #c19b76;
  text-align: center;
  line-height: 50px; }

#third footer a {
  color: white;
  text-transform: uppercase;
  font-size: 15pt; }

.bookingpage {
  margin-top: 10em; }

.footer-bs {
  background: #1c1c1c;
  padding: 60px 40px;
  color: white; }

.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns {
  padding: 10px 25px; }

.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns {
  border-color: transparent; }

.footer-bs .footer-brand img {
  margin-bottom: 1.5em; }

.footer-bs .footer-nav ul.pages {
  list-style: none;
  padding: 0px; }

.footer-bs .footer-nav ul.pages li {
  padding: 5px 0px; }

.footer-bs .footer-nav ul.pages a {
  color: white;
  font-weight: bold; }

.footer-bs .footer-nav ul.pages a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none; }

.footer-bs .footer-nav h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px; }

.footer-bs .footer-nav ul.list {
  list-style: none;
  padding: 0px; }

.footer-bs .footer-nav ul.list li {
  padding: 5px 0px; }

.footer-bs .footer-nav ul.list a {
  color: rgba(255, 255, 255, 0.8); }

.footer-bs .footer-nav ul.list a:hover {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none; }

.footer-bs .footer-social ul {
  list-style: none;
  padding: 0px; }

.footer-bs .footer-social h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px; }

.footer-bs .footer-social li {
  padding: 5px 4px; }

.footer-bs .footer-social a {
  color: white; }

.footer-bs .footer-social a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none; }

.footer-bs .footer-ns h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px; }

.footer-bs .footer-ns p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7); }

@media (min-width: 768px) {
  .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns {
    border-left: solid 1px rgba(255, 255, 255, 0.1); } }

#footer .pointer {
  cursor: pointer; }
