@import url('https://fonts.googleapis.com/css?family=Gilda+Display');


/* Universal */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilda Display', Arial, Helvetica, sans-serif !important;
    text-decoration: none; }
  
  img {
    height: auto;
    width: 100%; }
  
  .container-fluid {
    padding-right: 0;
    padding-left: 0; 
    margin-right:auto;
    margin-left:auto;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }
  
  .padding-0 {
    padding-right: 0;
    padding-left: 0; }
  
  .padding-default {
    padding-right: 15px;
    padding-left: 15px; }

    .logo{
      max-width: 100px;
    }
    
.black-bg {
  background-color: #1c1c1c;
}
    