@import url('https://fonts.googleapis.com/css?family=Pacifico');

.navbar {
    background: #1c1c1d;}
  
  .affix {
    top: -50px; }
  
    .navbar-nav .nav-item {
      /* desktop */
      /* Tablet */
      height: 25px;
      /* Mobile */ }
        .navbar-nav .nav-item {
          margin-left: 2em; 
        font-size: 1rem;} 
      @media (max-width: 767px) {
        .navbar-nav .nav-item {
          height: auto;
          margin-left: 0;
          font-size: 1rem; } }

          @media (max-width:992px){
            .navbar-nav .nav-item {
              height: auto;
              margin-left: 1em;;
              font-size: 1rem; } 
          }


  .navbar-nav .nav-link {
    color: #878788; 
  }

  .navbar-nav .btn-custom {
    background: white;
    margin-left: 3em;
    font-weight: 600;
    padding: 1px 15px;
    border-radius: 0;
    max-height: 30px;
    margin-top: 5px;
  }

  @media (max-width: 992px) { 
    .navbar-nav .btn-custom {
      margin-top: 5px;
      margin-left: 2em;
    }
  }

    
  @media (max-width: 768px) { 
    .navbar-nav .btn-custom {
      margin-top: 0;
      margin-left: 0;
    }
  }


    .navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus, .navbar-nav .nav-link:active {
      color: white;
      border-bottom: 2px solid #878788; }
      @media (max-width: 768px) {
        .navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus, .navbar-nav .nav-link:active {
          border: none; } }
    .navbar-nav .nav-link.active {
      color: white; 
      border-bottom: 2px solid #878788;
    }
  
  .toggle-wrap {
    position: relative;
    cursor: pointer;
    /*disable selection*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  
  .toggle-bar,
  .toggle-bar::before,
  .toggle-bar::after,
  .toggle-wrap.active .toggle-bar,
  .toggle-wrap.active .toggle-bar::before,
  .toggle-wrap.active .toggle-bar::after {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; 
  }
  
  .toggle-bar {
    width: 38px;
    margin: 10px 0;
    position: relative;
    border-top: 6px solid white;
    display: block; }
  
  .toggle-bar::before,
  .toggle-bar::after {
    content: "";
    display: block;
    background: white;
    height: 6px;
    width: 38px;
    position: absolute;
    top: -16px;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -ms-transform-origin: 13%;
    -webkit-transform-origin: 13%;
    transform-origin: 13%; }
  
  .toggle-bar::after {
    top: 4px; }
  
  .toggle-wrap.active .toggle-bar {
    border-top: 6px solid transparent; }
  
  .toggle-wrap.active .toggle-bar::before {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  
  .toggle-wrap.active .toggle-bar::after {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }