#second .padding-top {
    padding-top: 5em;
    padding-bottom: 8em; 
  }

  @media (max-width:992px){
    #second .padding-top {
      padding-top: 5em;
      padding-bottom: 35em; 
    }  
  }

  @media (max-width:767px){
    #second .padding-top {
      padding-top: 0;
      padding-bottom: 8em; 
    }
    }  
  
  #second .text {
    margin-top: 5em; }
    #second .text h1 {
      margin-bottom: 0.5em; }
    #second .text p {
      color: grey;
      margin-bottom: 0; }
    #second .text .margin-bottom {
      margin-bottom: 2em; }
    #second .text .tjanster {
      margin-top: 1em;
      background: #c19b76;
      border: 1px solid transparent;
      color: white;
      font-weight: bold;
      border-radius: 0;
      padding-left: 2em;
      padding-right: 2em;
      padding-top: 0.5em;
      padding-bottom: 0.5em; }

      #second .text .tjanster > a{
        color: white;
        text-decoration: none;
       }
      #second .text .tjanster:hover, #second .text .tjanster:focus, #second .text .tjanster:active {
        cursor: pointer;
        color: white;
        background: #85432B;
        border: 1px solid transparent; }

  #second .card-custom-img {
    background-image: url("../../images/card1.jpg");
  }
  #second .card1 {
    background-image: url("../../images/card1.jpg");
    margin-top: 2.5em;
    
  }

  @media (max-width: 1098px) {
    #second .card1 {
      margin-top: 4em;
                  } }

  #second .card2 {
    background-image: url("../../images/card3.jpg");
    margin-top: 2.5em;
  }

  #second .card3 {
    background-image: url("../../images/card2.jpg");
    margin-top: 2.5em;
  }

  @media (max-width: 1098px) {
    #second .card3 {
      margin-top: 4em;
                  } }

  #second .card-body {
    overflow-y: auto;
  }

  #second .card-footer {
    background: inherit; border-color: inherit;
  }

  .card-stack {
    position: relative; }
    .card-stack .card-list {
      width: 100px; }
      .card-stack .card-list li {
        border: none;
        border-radius: 0;
        position: absolute;
        list-style: none;
        height: 200px;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        background-size: cover; }
        .card-stack .card-list li:nth-child(1) {
          left: -100px;
          width: 400px;
          height: 250px;
          /* animation: scaleCard 100ms; */ }
        .card-stack .card-list li:nth-child(2) {
          top: 100px;
          left: 340px;
          height: 270px;
          width: 250px; }
          .card-stack .card-list li:nth-child(3) {
            top: 220px;
            left: -100px;
            width: 350px;
            height: 240px;
          }

            @media (max-width: 1200px) {
              .card-stack .card-list li:nth-child(2) {
                display: none;
                            } }
            @media (max-width: 1200px) {
              .card-stack .card-list li:nth-child(1) {
                left: -120px;
                width: 300px;
                            } }
            
            @media (max-width: 1200px) {
              .card-stack .card-list li:nth-child(3) {
                top: 200px;
                left: 180px;
                width: 300px;
                            } }
  
  .card-custom {
    overflow: hidden;
    min-height: 400px;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3); }
  
  .card-custom-img {
    height: 250px;
    min-height: 250px;
    border-radius: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-color: inherit; }

  #second .standalone{
    margin-top: 3em;
  }