#third {
    background: #f9f9f9;
}

#third .introduction {
    padding-top: 5em;
    padding-bottom: 4em;
}


#third h1 {
    margin-top: 0.5em;
}

#third .kort {
    padding-left: 0;
    padding-right: 0;
}

#third .images {
    min-height: 400px;
    max-height: 400px;
}

#third .other-info {
    color: white;
    padding: 6em;
}

#third .other-info {
    color: white;
    padding: 6em;
}

@media (max-width: 1307px) {
    #third .other-info {
        color: white;
        padding: 4em;
    }
    
}

@media (max-width: 1069px) {
    #third .other-info {
        color: white;
        padding: 2em;
    }
    
}


#third .other-info h1 {
    font-size: 80px;
    line-height: 60px;
}

@media (max-width: 503px) {
    #third .other-info h1 {
        font-size: 50px;
    }
}

#third .other-info h1 ~ h1 {
    color: #c19b76;
    margin-bottom: 0.3em;
}

#third .other-info p {
    color: #878788;
}


#third .separator-container .separator {
    margin: 0 auto;
    width: 16em; }
    @media (max-width: 768px) {
      #third .separator-container .separator {
        width: 12em; } }

        #third .separator-container .separator.line-separator::before {
            display: block;
            width: 15%;
            content: " ";
            border: 0.5px solid black; }
          

#third .separator-container .separator.line-separator::before {
    margin: 0 auto; 
  margin-top: 0.5em;}

  #third .card {
    display: flex;
    background-color: white;
    position: relative;
    margin-bottom: 2em;
    margin-top: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    padding-left: 0;
    padding-right: 0;
}

#third .card-img {
    position: relative;
}

.price {
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
    color: whitesmoke;
    border-bottom-left-radius: 2px;
}

#third .card .title {
    text-align: center;
}

.info {
    min-height: 200px;
    margin-bottom: 4em;
}

.info p {
    padding: 5px;
}

.info .info-metrics {
    position: absolute;
    width: 100%;
    bottom: 40px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-top: 1px solid #d6d6d6;
    padding: 7px;
    background-color: #f9f9f9;
    color: #5a5a5a;
}

#third footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 50px;
    max-height: 50px;
    background-color: #c19b76;
    text-align: center;
    line-height: 50px;
}

#third footer a {
    color: white;
    text-transform: uppercase;
    font-size: 15pt;
}