.intro .content .separator-container .separator {
  margin: 0 auto 1em;
  margin-bottom: 2.5em;
  width: 20em; }
  @media (max-width: 768px) {
    .intro .content .separator-container .separator {
      width: 12em; } }

.intro .content .separator-container .separator.line-separator::before {
  display: block;
  width: 15%;
  content: " ";
  border: 0.5px solid #fff; }

.intro {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../../images/hero.jpg") center center no-repeat;
    background-size: cover; }

    @media (max-width: 768px) {
      .intro {
        height: auto;
       } }
    .intro:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to right top, #000000, #2e2b2b, #595350, #848079, #aeb1a6);
      opacity: 0.7; }
      .intro2:before {
        background: #3C3B3F;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        
      }
    .intro .content {
      text-align: center;
      z-index: 2;
      position: relative;
      color: white;
      margin-top: 10em; }

            #first .intro h1 {
              text-transform: uppercase;
              font-size: 5em;
              margin-bottom: 0.5em;
              text-shadow: -2px 2px 30px rgba(0, 0, 0, 0.25), -2px 4px 14px rgba(0, 0, 0, 0.1); }
              @media (max-width: 768px) {
                #first .intro h1 {
                  font-size: 2.5em;
                  line-height: 1.7;
                  margin-top: 60px; } }
            #first .intro h5 {
              font-size: 1.3em;
              position: relative;
            }

            #first .intro .btn-book {
                background: transparent;
                color: white;
                border: 1px solid white;
                border-radius: 0;
                padding-right: 1.5em;
                padding-left: 1.5em;
                text-transform: uppercase;
                cursor: pointer;
            }

            #first .intro .btn-book > a {
              color: white;
              text-decoration: none;
          }


                .intro .content .separator-container .separator.line-separator::before {
                  margin: 0 auto; 
                margin-top: 1.5em;}
            
              @media (max-width: 768px) {
                #first .intro h5 {
                  font-size: 1.125em;
                  margin-top: 50px; } }